from telegram import Update
from telegram.ext import ApplicationBuilder, CommandHandler, MessageHandler, filters, ContextTypes
import pandas as pd
import os
import whisper
from datetime import datetime
import ffmpeg
import uuid
import asyncio
import subprocess
